@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
  --border-radius: 0.5em;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
}
.hidden {
  position:absolute;
  left:0px;
  top:-2000px;
  width:1px;
  height:1px;
  overflow:hidden;
}
body{
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5.5em auto;
}
img{
  width: 64px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20em;
  min-width: 19em;
  min-height: 31.25em;
  padding: 3em;
  
  justify-content: space-between;
}
.card .card-title{
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  margin: 1.25em 0;
  font-size: 2em;
}
.card .card-description{
  color: hsl(0, 0%, 95%);
  margin-bottom: auto;
  font-size: 0.937em;
  line-height: 1.7em;
}
.card .card-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
  width: 10em;
  height: 3.34em;
  border-radius: 1.67em;
  text-align: center;
  text-decoration: none;
}
.card#sedans{
  background-color: hsl(31, 77%, 52%);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.card#suvs{
  background-color: hsl(184, 100%, 22%);
}
.card#luxury{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
#sedans .card-btn{
  color: hsl(31, 77%, 52%);
}
#sedans .card-btn:active{
  color: hsl(0, 0%, 95%);
}
#suvs .card-btn:active{
  color: hsl(0, 0%, 95%);
}
#luxury .card-btn:active{
  color: hsl(0, 0%, 95%);
}
#suvs .card-btn{
  color: hsl(184, 100%, 22%);
}
#luxury .card-btn{
  color: hsl(179, 100%, 13%);
}

.card-btn:active{
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
}
@media screen and (min-width: 668px){
  .container{
    display: flex;
    flex-direction: row;
    max-width: 57.5em;
    margin: 0 auto;
    margin-top: 10.625em;
  }
  .card#luxury{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  .card#sedans{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  .card .card-btn:hover{
    cursor: pointer;
  }
}
